/cache
/Chodel_map.graphml
/Dijkstra_solved.png
/dijkstra_step_0.png
/dijkstra_step_1.png
/dijkstra_step_10.png
/dijkstra_step_11.png
/dijkstra_step_2.png
/dijkstra_step_3.png
/dijkstra_step_4.png
/dijkstra_step_5.png
/dijkstra_step_6.png
/dijkstra_step_7.png
/dijkstra_step_8.png
/dijkstra_step_9.png
/London_map.graphml
/Lubelskie_map.graphml
/Materiały wzorcowe
/merged_map.graphml
/Obrazy
/Wroclaw_map.graphml
*.graphml
*.png
*.csv
*.txt
*.pyc